In [ ]:
# Assignment 1

In [4]:
# int to float point

i= int(10)

f=float(a)

b

10.0

In [5]:
# float to int 

f1= float(10.57)

i1=int(a)

i

10

In [6]:
# int to string

i2= 25

s=str(i2)

s

'25'

In [11]:
# Convert a list to a tuple

l= [1, "two", 3, "four"]

t= tuple(l)

t

(1, 'two', 3, 'four')

In [12]:
# Convert a tuple to a list

t1= (2,3,"one","nine")

l1= list(t1)

l1

[2, 3, 'one', 'nine']

In [23]:
# Convert a decimal number to binary

d= 10

b= bin(d)

print(b)
print('without prefix', b[2:])

0b1010
without prefix 1010

In [25]:
# Convert a non-zero number to boolean.

n= 11

bool(n)

True